#signup {
  display: flex;
  align-items: stretch;
  width: 100vw;
  height: 100vh;
  background-color: #f9f9f9;
}

#signup main {
  width: 100%;
  max-width: 700px;

  padding: 16px 18px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#signup h1 {
  text-align: center;
}

aside {
  flex: 1;
  background: url("../assets/adote.jpg") no-repeat center;
  background-size: cover;
}
/* 
@media (min-width: 600px) {
  #signup main {
    max-width: 800px;
    background-color: #fff;
    border-radius: 20px;
    padding: 16px 18px;
    border: 1px solid rgb(168, 170, 170);
  }
} */
