:root {
  --title: #323235;
  --text: #fcfcfc;
  --background-color: #f9f9f9;
  --lighter-hover: #f3f3f4;
  --primary: #49b7c6;
  --gradient: linear-gradient(90deg, #8de2a5 0%, rgba(69, 210, 230, 0.88) 100%);
}

* {
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: var(--background-color);
}

button[type="submit"] {
  cursor: pointer;
}

button.form-btn {
  font-size: 16px;
  font-weight: bold;
  margin-top: 16px;
  border: 0;
  border-radius: 4px;
  width: 100%;
  padding: 12.5px 14px;
  color: #fff;
  background: linear-gradient(90deg, #8de2a5 0%, rgba(69, 210, 230, 0.88) 100%);
}

input,
select {
  font-size: 16px;
}

input::placeholder,
select::placeholder {
  color: #767676;
}

a {
  text-decoration: none;
  font-size: 16px;
}

ul {
  list-style: none;
}

/* .container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
} */

.title {
  font-size: 2em;
  margin-bottom: 32px;
  margin-top: 50px;
  color: var(--title);
}

/* @media (min-width: 1000px) {
  .container {
    padding: 0;
  }
} */
.input-block {
  margin: 8px 0;
}

.input-block label {
  display: block;
  margin-bottom: 6px;
}

.input-block input,
.input-block select {
  width: 100%;
  padding: 12.5px 14px;
  border: 1px solid #c6c7c7;
  border-radius: 4px;
}

#input-file {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 9rem;
  height: 9rem;
  margin-bottom: 2rem;
  border: 1px solid var(--primary);
  border-radius: 50%;
}

#input-file .avatar-image {
  background-size: cover;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  cursor: pointer;
}

#input-file input {
  width: 0.1px;
  visibility: hidden;
  z-index: -1;
}

#input-file .upload-label {
  font-weight: 500;
  padding: 0.8rem;
  margin-left: 0.8rem;
  border-radius: 0.8rem;
  cursor: pointer;
  color: var(--primary) !important;
  border: 1px dashed var(--primary);
  /* background-color: var(--primary); */
}
